.layout-left {
  .el-tree {
    margin-top: 0.5rem;
    user-select: none;
    line-height: 2.25rem;
  }

  .el-tree-node__expand-icon {
    margin-left: 8px;
  }

  .el-tree-node {
    &:focus:not(:hover) > .el-tree-node__content {
      background-color: unset;
    }

    &.is-disabled > .el-tree-node__content .label {
      color: var(--fg3t);
    }

    &.is-active > .el-tree-node__content {
      background-color: var(--hover-bg);
      color: var(--active);
    }
  }

  .el-tree-node__content {
    line-height: 2.25rem;
    height: 2.25rem;
    transition: var(--color-transition);

    &:hover {
      background-color: var(--hover-bg);
    }
  }

  .el-tree-node__label {
    font-size: 16px;
    flex: 1 1 auto;
    margin-right: 0.5rem;
  }
}
