@use 'sass:color';
@import './palette.scss';
@import './schema.scss';
@import './aside.scss';

$black: #000000;
$white: #ffffff;

:root {
  --active: #506ae6;
  --border: #e0e4e8;
  --border-dark: #c8c9cc;
  --card-bg: #ffffff;
  --page-bg: #ffffff;
  --card-border: var(--card-bg);
  --card-shadow: 0 6px 10px -4px rgb(0 0 0 / 15%);
  --loading-mask-bg: #f2f3f5bf;
  --color-transition: color 0.3s ease, border-color 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease, opacity 0.3s ease;
  --font-family: PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif;
  --font-family-code: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;

  @mixin apply-color($name, $base) {
    --#{$name}: #{$base};
    --#{$name}-shade: #{mix($base, $black, 90%)};
    --#{$name}-tint: #{mix($base, $white, 80%)};
    --#{$name}-fade: #{fade-out($base, 0.9)};
  }

  @include apply-color(primary, #409eff);
  @include apply-color(success, #67c23a);
  @include apply-color(warning, #e49400);
  @include apply-color(error, #f56c6c);
  @include apply-color(danger, #f56c6c);
  @include apply-color(info, #909399);
}

html.dark {
  --active: #ffffff;
  --border: #4f515cbf;
  --card-bg: #2f3034;
  --page-bg: #2f3034;
  --card-border: var(--border);
  --loading-mask-bg: #202225bf;

  @mixin apply-color($name, $base) {
    --#{$name}: #{$base};
    --#{$name}-shade: #{mix($base, $black, 80%)};
    --#{$name}-tint: #{mix($base, $white, 90%)};
    --#{$name}-fade: #{fade-out($base, 0.9)};
  }

  @include apply-color(primary, #7459ff);
  @include apply-color(success, #3ba55e);
  @include apply-color(warning, #f9af1b);
  @include apply-color(error, #ff595a);
  @include apply-color(danger, #ff595a);
  @include apply-color(info, #4f545c);
}

:root {
  --bg0: #{$white-0};
  --bg1: #{$white-3};
  --bg2: #{$white-2};
  --bg3: #{$white-1};

  --fg0: #000000;
  --fg1: #231f37;
  --fg2: #545260;
  --fg3: #7a7887;
  --fg3t: #7a78877f;

  --disabled: #909399;

  --hover-inset: 0 0 2px inset #0002;

  --menu-fg: var(--fg1);
  --hover-bg: var(--bg2);

  --aside-width: 17.5rem;
  --activity-width: 4rem;
  --activity-icon-size: 1.5rem;
  --header-height: 3rem;
  --footer-height: 1.75rem;

  --card-margin: 2rem;
  --card-padding-vertical: 1.5rem;
  --card-padding-horizontal: 1.5rem;

  @media screen and (max-width: 768px) {
    --activity-width: 3.5rem;
    --activity-icon-size: 1.375rem;
    --card-margin: 1.5rem;
    --card-padding-vertical: 1rem;
    --card-padding-horizontal: 1rem;
  }

  @media screen and (max-width: 480px) {
    --card-margin: 1rem;
    --card-padding-vertical: 0.75rem;
    --card-padding-horizontal: 0.875rem;
  }
}

html.dark .el-switch {
  --el-switch-off-color: #72767d;
}

html.dark {
  --bg0: #{$black-0};
  --bg1: #{$black-1};
  --bg2: #{$black-2};
  --bg3: #{$black-3};

  --fg0: #ffffff;
  --fg1: #e3e5e8;
  --fg2: #dcddde;
  --fg3: #b9bbbe;

  --menu-fg: var(--fg3);
  --hover-bg: var(--bg3);
}

.k-menu-item {
  display: block;
  position: relative;
  cursor: pointer;
  user-select: none;
  color: var(--menu-fg);
  transition: color 0.3s ease, border-color 0.3s ease, background-color 0.3s ease;

  &:hover {
    color: var(--fg0);
    background-color: var(--hover-bg);
  }

  &.active {
    font-weight: bolder;
    color: var(--active);
  }
}

.k-group {
  display: inline-block;
}

.float-right {
  float: right;
}

:root {
  --el-text-color-regular: var(--fg1);
  --el-text-color-primary: var(--fg2);
  --el-input-text-color: var(--fg1);
  --el-border-color: var(--border);
  --el-border-color-base: var(--border);
  --el-border-color-light: var(--border);
  --el-border-color-lighter: var(--border);
  --el-border-color-extra-light: var(--border);
  --el-color-primary: var(--primary);
  --el-color-primary-light-9: var(--bg1);
  --el-color-success: var(--success);
  --el-color-warning: var(--warning);
  --el-color-danger: var(--error);
  --el-color-white: var(--bg0);
  --el-color-black: var(--fg1);
  --el-bg-color: var(--bg0);
  --el-bg-color-overlay: var(--bg0);
  --el-fill-color-blank: transparent;
  --el-disabled-bg-color: var(--card-bg);
  --el-fill-color: var(--card-bg);
}

.el-input-number, .el-popper {
  --el-fill-color-light: transparent;
}

.theme-color {
  @mixin apply-color($name) {
    &.#{$name} {
      color: var(--#{$name});
    }
  }

  @include apply-color(primary);
  @include apply-color(success);
  @include apply-color(warning);
  @include apply-color(danger);
}

.k-icon {
  transition: color 0.3s ease, background-color 0.3s ease;
}

.el-dropdown-menu {
  background-color: var(--el-color-white);
}

.el-dropdown__popper.el-popper[role=tooltip] {
  background-color: var(--el-color-white);
}

.el-dropdown-menu__item.is-disabled {
  pointer-events: none;
}

.el-dropdown-menu__item--divided {
  &:first-child, &:last-child {
    display: none;
  }
}

.el-input .k-icon {
  height: 0.75rem;
}

.el-input__wrapper,
.el-input-number__decrease,
.el-input-number__increase,
.el-checkbox__label {
  transition: var(--color-transition);
}

.el-input__prefix-inner, .el-input__suffix-inner {
  align-items: center;
}

.el-loading-mask {
  background-color: var(--loading-mask-bg);
  transition: 0.3s ease;
}

.el-radio {
  height: 1.2rem;
}

.el-radio__label {
  --el-color-primary: var(--active);
  padding-top: 1px;
}

.el-scrollbar__bar {
  z-index: 500;
}

html.dark .el-switch {
  --el-switch-off-color: #72767d;
}

html.dark .el-popper.is-dark {
  color: var(--fg1);
  background-color: var(--bg1);
  border: 1px solid var(--border);
  box-shadow: var(--card-shadow);
  transition: var(--color-transition);

  .el-popper__arrow::before {
    border: 1px solid var(--border);
    background: var(--bg1);
    transition: var(--color-transition);
  }
}

.right-adjacent {
  &.el-button, &.el-select .el-input__wrapper {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  &:hover, &:focus {
    + .left-adjacent::before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      border-left: 1px solid #c6e2ff;
      z-index: 1;
    }
  }
}

.left-adjacent {
  margin-left: -1px;

  &.el-button, &.el-select .el-input__wrapper {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.el-overlay-dialog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .el-dialog {
    margin: 0;
    min-width: 480px;
  }

  @media screen and (max-width: 768px) {
    justify-content: flex-end;

    .el-dialog {
      width: 100%;
      min-width: unset;
    }
  }
}

.el-table__body-wrapper,
.el-table__footer-wrapper,
.el-table__header-wrapper {
  --el-table-tr-bg-color: var(--card-bg);
  --el-table-header-bg-color: var(--bg2);
  --el-table-row-hover-bg-color: var(--bg1);
  tr {
    td,
    th {
      &.hover-row {
        background-color: var(--el-table-row-hover-bg-color);
      }
      &.el-table-fixed-column--left,
      &.el-table-fixed-column--right {
        background-color: var(--el-table-tr-bg-color);
      }
      &.el-table-fixed-column--left:is(th),
      &.el-table-fixed-column--right:is(th) {
        background-color: var(--el-table-header-bg-color);
      }
      &.is-first-column,
      &.is-last-column {
        &.el-table-fixed-column--left {
          &::before {
            box-shadow: inset 10px 0 10px -10px var(--bg0);
          }
        }
        &.el-table-fixed-column--right {
          &::before {
            box-shadow: inset -10px 0 10px -10px var(--bg0);
          }
        }
      }
    }
  }
}
