:root {
  --el-text-color-regular: var(--fg1);
  --el-text-color-primary: var(--fg2);
  --el-input-text-color: var(--fg1);
  --el-border-color: var(--k-color-border);
  --el-border-color-light: var(--k-color-border-light);
  --el-border-color-lighter: var(--k-color-divider);
  --el-border-color-extra-light: var(--k-color-divider-light);
  --el-border-color-hover: var(--active);
  --el-color-primary: var(--k-color-primary);
  --el-color-success: var(--k-color-success);
  --el-color-warning: var(--k-color-warning);
  --el-color-danger: var(--k-color-danger);
  --el-color-primary-light-9: var(--k-hover-bg);
  --el-color-white: var(--bg0);
  --el-color-black: var(--fg1);
  --el-bg-color: var(--bg0);
  --el-bg-color-overlay: var(--bg0);
  --el-fill-color-blank: transparent;
  --el-disabled-bg-color: var(--card-bg);
  --el-fill-color: var(--card-bg);
  --el-fill-color-light: var(--k-hover-bg);
}

.el-input-number, .el-popper {
  --el-fill-color-light: transparent;
}

.el-input-number__decrease:hover, .el-input-number__increase:hover {
  background-color: var(--bg1);
}

.k-icon {
  transition: color 0.3s ease, background-color 0.3s ease;
}

.el-dropdown-menu {
  background-color: var(--el-color-white);
}

.el-dropdown__popper.el-popper[role=tooltip] {
  background-color: var(--el-color-white);
}

.el-dropdown-menu__item.is-disabled {
  pointer-events: none;
}

.el-dropdown-menu__item--divided {
  &:first-child, &:last-child {
    display: none;
  }
}

.el-input__wrapper,
.el-input-number__decrease,
.el-input-number__increase,
.el-checkbox__label {
  transition: var(--color-transition);
}

.el-input__prefix-inner, .el-input__suffix-inner {
  align-items: center;
}

.el-loading-mask {
  background-color: var(--loading-mask-bg);
  transition: 0.3s ease;
}

.el-radio {
  height: 1.2rem;
}

.el-radio__label {
  --el-color-primary: var(--active);
  padding-top: 1px;
}

.el-scrollbar__bar {
  z-index: 500;
}

html .el-switch {
  --el-switch-on-color: var(--k-fill-normal);
}

.el-button {
  --el-button-hover-bg-color: var(--k-button-hover-bg);
  --el-button-hover-border-color: var(--k-color-active);
  transition: var(--color-transition);
}

.el-switch__core .el-switch__action,
.el-slider__button {
  --el-color-white: var(--bg2);
}

html.dark .el-popper.is-dark {
  color: var(--fg1);
  background-color: var(--bg1);
  border: 1px solid var(--k-color-border);
  box-shadow: var(--k-card-shadow);
  transition: var(--color-transition);

  .el-popper__arrow::before {
    border: 1px solid var(--k-color-border);
    background: var(--bg1);
    transition: var(--color-transition);
  }
}

.right-adjacent {
  &.el-button, &.el-select .el-input__wrapper {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  &:hover, &:focus {
    + .left-adjacent::before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      border-left: 1px solid #c6e2ff;
      z-index: 1;
    }
  }
}

.left-adjacent {
  margin-left: -1px;

  &.el-button, &.el-select .el-input__wrapper {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.el-overlay-dialog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .el-dialog {
    margin: 0;
    min-width: 480px;
  }

  @media screen and (max-width: 768px) {
    justify-content: flex-end;

    .el-dialog {
      width: 100%;
      min-width: unset;
    }
  }
}

.el-table__body-wrapper,
.el-table__footer-wrapper,
.el-table__header-wrapper {
  --el-table-tr-bg-color: var(--card-bg);
  --el-table-header-bg-color: var(--bg2);
  --el-table-row-hover-bg-color: var(--bg1);
  tr {
    td,
    th {
      &.hover-row {
        background-color: var(--el-table-row-hover-bg-color);
      }
      &.el-table-fixed-column--left,
      &.el-table-fixed-column--right {
        background-color: var(--el-table-tr-bg-color);
      }
      &.el-table-fixed-column--left:is(th),
      &.el-table-fixed-column--right:is(th) {
        background-color: var(--el-table-header-bg-color);
      }
      &.is-first-column,
      &.is-last-column {
        &.el-table-fixed-column--left {
          &::before {
            box-shadow: inset 10px 0 10px -10px var(--bg0);
          }
        }
        &.el-table-fixed-column--right {
          &::before {
            box-shadow: inset -10px 0 10px -10px var(--bg0);
          }
        }
      }
    }
  }
}
