:root {
  --aside-width: 17.5rem;
  --activity-width: 4rem;
  --activity-padding: 0.5rem;
  --activity-marker-width: 4px;
  --activity-marker-height: 1.75rem;
  --activity-icon-size: 1.5rem;
  --header-height: 3rem;
  --footer-height: 1.75rem;

  --card-margin: 2rem;
  --card-padding-vertical: 1.5rem;
  --card-padding-horizontal: 1.5rem;

  @media screen and (max-width: 768px) {
    --aside-width: 17rem;
    --activity-width: 3.5rem;
    --activity-padding: 0.25rem;
    --activity-icon-size: 1.375rem;
    --card-margin: 1.5rem;
    --card-padding-vertical: 1rem;
    --card-padding-horizontal: 1rem;
  }

  @media screen and (max-width: 480px) {
    --card-margin: 1rem;
    --card-padding-vertical: 0.75rem;
    --card-padding-horizontal: 0.875rem;
  }

  @media screen and (max-width: 384px) {
    --aside-width: calc(100vw - 2 * var(--activity-width));
  }
}

.layout-left {
  .el-tree {
    margin-top: 0.5rem;
    user-select: none;
    line-height: 2.25rem;
  }

  .el-tree-node__expand-icon {
    margin-left: 8px;
  }

  .el-tree-node {
    &:focus:not(:hover):not(.is-active) > .el-tree-node__content {
      background-color: unset;
    }

    &.is-disabled > .el-tree-node__content .label {
      color: var(--k-text-light);
    }

    &.is-active > .el-tree-node__content {
      background-color: var(--k-tree-bg-active, var(--k-hover-bg));
      color: var(--active);
    }
  }

  .el-tree-node__content {
    line-height: 2rem;
    height: 2rem;
    transition: var(--color-transition);

    .label {
      font-size: 14px;
      flex: 1 1 auto;
      margin-right: 0.5rem;
    }
  }
}

.k-tab-menu-item {
  display: block;
  position: relative;
  cursor: pointer;
  user-select: none;
  color: var(--k-text-light);
  transition: var(--color-transition);

  &:hover {
    color: var(--k-text-dark);
    background-color: var(--k-hover-bg);
  }

  &.active {
    font-weight: bolder;
    color: var(--active);
  }
}
