$white-0: #ffffff;
$white-1: #f7f7f8;
$white-2: #f2f3f5;
$white-3: #e3e5e8;

$black-0: #000000;
$black-1: #202225;
$black-2: #2f3136;
$black-3: #37393e;

$green: #42b883;
$green-light: #42d392;
$green-lighter: #35eb9a;
$green-dark: #33a06f;
$green-darker: #155f3e;
$green-dimm-1: rgba(66, 184, 131, .5);
$green-dimm-2: rgba(66, 184, 131, .25);
$green-dimm-3: rgba(66, 184, 131, .05);

$yellow: #ffc517;
$yellow-light: #fcd253;
$yellow-lighter: #fcfc7c;
$yellow-dark: #e0ad15;
$yellow-darker: #ad850e;
$yellow-dimm-1: rgba(255, 197, 23, .5);
$yellow-dimm-2: rgba(255, 197, 23, .25);
$yellow-dimm-3: rgba(255, 197, 23, .05);

$red: #ed3c50;
$red-light: #f54e82;
$red-lighter: #fd1d7c;
$red-dark: #cd2d3f;
$red-darker: #ab2131;
$red-dimm-1: rgba(237, 60, 80, .5);
$red-dimm-2: rgba(237, 60, 80, .25);
$red-dimm-3: rgba(237, 60, 80, .05);

$navbar-width: 4rem;
$navbar-icon-size: 1.5rem;
$aside-width: 16rem;
$header-height: 3rem;
$footer-height: 1.75rem;

$bp-large: 1440px;
$bp-medium: 1024px;
$bp-small: 768px;
$bp-tiny: 576px;
